<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>회원가입</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="background">
        <h2>회원가입</h2>
        <form action="/auth/register_process" method="post">
            <p><input class="login" type="text" name="username" placeholder="아이디"></p>
            <p><input class="login" type="password" name="pwd" placeholder="비밀번호"></p>
            <p><input class="login" type="password" name="pwd2" placeholder="비밀번호 재확인"></p>
            <p><input class="btn" type="submit" value="제출"></p>
        </form>
        <p><a href="/auth/login">로그인화면으로 돌아가기</a></p>
    </div>
</body>
</html>
