@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');


#btn-section{
    width: 320%;
}
.sendimg{
    width: 25px;
    border: none;
}
.sendsurface{
    border: none;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    transition: border-color 0.3s ease;
}
.sendsurface:hover {
    border: 2px solid aqua; /* Adjust the border size and color as needed */
}
/* 표시이름 */
.button-text1{
    margin-top: auto; /* 텍스트와 이미지 사이의 간격을 조절할 수 있습니다. */
    color: #333; /* 텍스트 색상을 지정합니다. */
    font-size: 30px; 
    font-family: 'Dongle', sans-serif;
}
.button-text2{
    margin-top: auto; /* 텍스트와 이미지 사이의 간격을 조절할 수 있습니다. */
    color: #333; /* 텍스트 색상을 지정합니다. */
    font-size: 30px; 
    font-family: 'Dongle', sans-serif;
}
.button-text3{
    margin-top: auto; /* 텍스트와 이미지 사이의 간격을 조절할 수 있습니다. */
    color: #333; /* 텍스트 색상을 지정합니다. */
    font-size: 30px;
    width: 30px; 
    font-family: 'Dongle', sans-serif;
}
/* /////// */

.firstbtns{
    width: 200px;
}
.seconedbtns{
    width: 200px;
}
.thirdbtns{
    width: 200px;
}
.fourthbtns{
    width: 200px;
}
.btnbox1{
    display: flex;
    width: 650px;
    margin-left: 240px;
}
@media (max-width:1200px) {
    .btnbox1{
        margin-left: 150px;
    }
    
}
@media(max-width:980px){
    .btnbox1{
        margin-left: 20px;
    }
}
@media(max-width:760px){
    #btn-section{
        width: 100%;
    }
    .btnbox1{
        display: contents;
    }
    .firstbtns{
        margin-top: 10px;
    }
    .seconedbtns{
        margin-top: 10px;
    }
    .thirdbtns{
        margin-top: 10px;
    }
    .fourthbtns{
        margin-top: 10px;
    }
}
@media (min-width:760px){
    #btn-section{
        width: 320%  ;
    }
}
    
